body {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

form {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border: #D4D4D4 solid 3px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

hr {
    color: #D4D4D4;
    width: 95%;
    border: #D4D4D4 solid 1.5px;
    margin: 20px 0px;
}

.baekjoon-wrap {
    height: 50px;
    width: 95%;
    margin-top: 20px;
    background-color: rgb(239, 239, 239);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

.baekjoon-wrap input {

    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 50%;
}

.compare-button {
    padding: 5px 40px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.compare-wrap {
    width: 100%;
    height: 700px;
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
}

.compare-half {
    width: 47%;
    height: 100%;
    background-color: rgb(239, 239, 239);
    border: 2px solid #D4D4D4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-card {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 320px;
}

h4 {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}
