body {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1000px;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
    margin: 20px 0px 40px 0px;
    border: rgb(185, 185, 208) solid 2px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(to right, #350FC0, skyblue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.feature {
    margin-top: 60px;
    width: 100%;
    height: 100px;
    border: #350FC0 solid 2px;
    border-radius: 18px;
}

.feature-title {
    width: fit-content;
    font-size: 30px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px;
    background-color: white;
    color: #171337;
}

article div {
    padding: 10px 0px 0px 30px
}

.feature-description::first-line {
    color: #0f0e2b;
}

[title~=copy] {
    font-style: italic;
}

footer {
    margin: 30px 0px 0px 0px;
    color: #060321;
}