@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cafe24Ssurround', sans-serif;
}

div {
    display: inline-block;
}

a {
    text-decoration: none
}


nav {
    width: 100%;
    height: 80px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

nav div {
    width: 33%;
    height: 80px;
    background-color: rgb(237, 237, 237);
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

nav div:hover {
    background-color: rgb(130, 130, 142);
}

