body {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1000px;
    height: 100%;
    
}

header {
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin-top: 40px;
    border: #D4D4D4 solid 3px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: #D4D4D4;
    width: 95%;
    border: #D4D4D4 solid 1.5px;
    margin: 20px 0px;
}

.team-count {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;

}

.team-count input {
    width: 50px;
    height: 40px;
    margin-left: 20px;
    font-size: 30px;
}

.team-count button {
    width: 100px;
    height: 40px;
    margin-left: 20px;
}

.inputs {
    width: 100%;

    padding-left: 5%;
}

.inputs > div {
    background-color: #D4D4D4;
    margin: 5px;
    padding: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    margin-bottom: 20px;
    font-size: 1vw;
}

label::first-letter {
    color: rgb(19, 30, 126);
    font-size: xx-large;
}


.submit-btton {
    cursor: pointer;
    margin-left: 5px;
}

table {
    
    border-collapse: collapse;

    width: 100%;
    height: 100%;
    min-height: 200px;
    margin-top: 40px;
    border: #D4D4D4 solid 3px;
    border-radius: 10px;

}

th,td {
    height: 50px;
    text-align: center;
    border: #D4D4D4 solid 3px;
}

[target=_blank] {
    font-style: italic;
}

th:nth-child(1) {
    width: 20%;
}

th:nth-child(2) {
    width: 40%;
}

th:nth-child(3) {
    width: 10%;
}