body {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

form {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border: #D4D4D4 solid 3px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: #D4D4D4;
    width: 95%;
    border: #D4D4D4 solid 1.5px;
    margin: 20px 0px;
}

.baekjoon-wrap {
    height: 50px;
    width: 95%;
    margin-top: 20px;
    background-color: rgb(239, 239, 239);
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

.baekjoon-wrap input {

    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 50%;
}

.github-wrap {
    height: 50px;
    width: 95%;
    background-color: rgb(239, 239, 239);
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

.github-id {

    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 40%;
}

input::placeholder {
  font-size: 0.8vw;
}

.strick-submit {
    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 15%;
    font-size: 1vw;
}

.strick-wrap {
    width: 100%;
}

.strick-boxes {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    height: 50px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    color: rgb(75, 75, 75);
    border: rgb(195, 195, 195) solid 5px;
    cursor: pointer;
}

.frame-div {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%; 
    height: 40%;
}

@media (max-width:900px) {
iframe {
width:100%;
border: black solid 5px;
}
}